.survey-wrapper {
    min-height: 100vh;
}

.survey-content-wrapper {
    height: calc(100vh - 80px);
    display: flex;
    color: black;

    .survey-content-left {
        flex: 1;
        background: white;

    }

    .survey-content-right {
        background: #F0F6FF;
        flex: 4;
        display: flex;
        flex-direction: column;

        .content-header {

            button {
                margin-top: 2em;
            }
        }

        .content {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .content-footer {
            margin-inline: auto;
            margin-bottom: 3em;
        }
    }
}